nav {
    background: var(--nav-bg);
    width: max-content;
    display: block;
    padding: 0.9rem 1.9rem;
    z-index: 100;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border: 0.2px solid var(--color-nav-icon);
    border-radius: 3rem;
    backdrop-filter: blur(10px);

}

nav a {
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    color: var(--color-nav-icon);
    font-size: 1.2rem;
    z-index: 100;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav a:hover {
    color: var(--color-nav-icon-hover);
    filter: drop-shadow(0 0 15px var(--color-nav-icon));
    font-size: 1rem;
}

nav a.active {
    color: var(--color-nav-icon);
    filter: drop-shadow(0 0 15px var(--color-nav-icon));
    transform: translateY(-1.5rem);
}

#marker {
    position: absolute;
    top: -12.5px;
    height: 50px;
    background: var(--color-nav-icon-marker);
    border-radius: 20px;
    border-top: 1px solid var(--color-nav-icon);
    border-left: 1px solid var(--color-nav-icon);
    box-shadow: 0 0 0 7px var(--color-body-bg), 0 2px 0 6px var(--color-nav-icon);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease, width 0.3s ease;
}

#marker::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    width: 11px;
    height: 15px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 4px -4px 0 3px var(--color-body-bg);
}

#marker::after {
    content: '';
    position: absolute;
    top: 10px;
    right: -18px;
    width: 11px;
    height: 15px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -4px -4px 0 3px var(--color-body-bg);
}

#marker span {
    position: absolute;
    top: 65px;
    width: 60px;
    left: -8px;
    height: 20px;
    background: var(--color-nav-icon-marker);
    box-shadow: 0 0 0 4px var(--color-body-bg), 0 -1px 0 3.8px var(--color-nav-icon);
    border-radius: 20px;
    border-top: 1px solid var(--color-nav-icon);
    border-bottom: 1px solid var(--color-nav-icon);
}

nav a text {
    position: absolute;
    pointer-events: none;
    transform: translateY(50px);
    opacity: 0;
    font-size: 0.6em;
    transition: 0.5s;
    text-transform: uppercase;
    padding: 0.3rem;
}

nav a.active text {
    opacity: 1;
    color: var(--color-nav-icon);
    filter: drop-shadow(0 0 10px var(--color-nav-icon));
}