.services-container {
    margin: 0 auto;
    position: relative;
    padding: 3rem;
    overflow: visible;
    display: block;
  }
  
  .services-container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .services-container .section-subtitle {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid var(--color-primary);
    width: max-content;
    margin: 0 auto;
  }
  
  .services-content-container {
    display: grid;
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    column-gap: 1.8rem;
    margin-top: 1.5rem;
  }
  
  .services-content {
    border: 1px solid var(--color-primary);
    border-radius: 0.65rem;
    padding: 2.5rem;
    background: var(--card-bg);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    position: relative;
    color: var(--color-primary);
    font-size: 2rem;
  }
  
  .services-icons {
    display: block;
    font-size: 4rem;
    color: var(--color-primary);
    margin-bottom: 0.7rem;
  }
  
  .services-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  
  .btn-services {
    color: var(--color-primary);
    font-size: 1rem;
    display: inline-flex;
    column-gap: 0.25rem;
    cursor: pointer;
  }
  
  .services-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: .3s;
  }
  
  .services-modal-content {
    width: 500px;
    position: relative;
    background-color: var(--card-bg);
    padding: 4.5rem 2.5rem 2.5rem;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
  
  .services-modal-content i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: var(--color-primary);
  }
  
  .services-modal-content h3,
  .services-modal-content p,
  .services-modal-content ul,
  .services-modal-content li {
    color: var(--color-primary);
  }
  