.container{
    height: 100vh;
    padding: 3rem;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.home_container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 5.5rem;
    height: 100%;
    align-items: center;
}

.cta-btns{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.icons{
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}


.socials-icons{
    
    flex-direction: column;
    gap: 0.8rem;
    position: absolute;
    left: 6%;
    top: 40%;
    
}

.socials-icons::before{
   content: '';
   position: absolute;
   width: 1px;
   height: 50px;
   background-color: var(--color-primary);
   left: 0.6rem;
   top: -4rem;
}

.socials-icons::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: var(--color-primary);
    left: 0.6rem;
    top: 9.5rem;
 }

.socials-icons a{
    font-size: 1.2rem;
}


.img-layout{
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: 80%;
  height:80%;
  justify-content: center;
  overflow: hidden;
}


.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  .Scrollericons{
    background: var(--color-white);
    padding: 1.5rem;
    justify-content: space-around;
  }


.profile_info{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 5rem;
}

.details-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin-bottom: 13rem;
}

.btn-theme-icon{
    z-index: 1000;
    font-size: 2rem;
    position: absolute;
    top: 50px;
    right: 50px;
}


@media (max-width: 1025px) {
    .container {
        padding: 18rem;
        width: var(--container-width-md);
        margin: 0 auto;
    }
    .img-layout{
      
        width: 50%;
        padding: 2rem;
      }
}

@media (max-width: 768px) {
    .home_container{
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .container {
        width: var(--container-width-sm);
    }

}

@media (max-width: 600px) {

    .container {
        padding: 18rem;
        width: var(--container-width-md);
    }
 }