/*==============
Variables for root light theme Css
==============*/
:root {
  /*==============
media sizing
==============*/
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  /*==============
Colors Light
==================*/
  --color-dark: #a7e6ff;
  --color-secondary: #040847;
  --color-primary: #3572ef;
  --color-light: #a7e6ff;
  --color-white: #040847;
  --color-body-bg: #ffffff;
  --color-nav-icon: #3abef9;
  --color-nav-icon-hover: #ffffff;
  --color-text: #040847;
  --color-nav-icon-marker: #040847;
  --nav-bg: #040847;
}

/*==============
Variables for root dark theme Css
==============*/
[data-theme="dark"] {
  /*==============
    media sizing
    ==============*/
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  /*==============
    Colors
    ==================*/

  --color-dark: #040847;
  --color-secondary: #3572ef;
  --color-primary: #3abef9;
  --color-light: #040847;
  --color-white: #ffffff;
  --color-body-bg: #413589;
  --color-nav-icon: #3abef9;
  --color-text: #ffffff;
  --color-nav-icon-marker: #ffffff;
  --nav-bg: rgba(1, 2, 20, 0.283);
}

/*===================
Base
====================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 500;
  color: var(--color-text);
}

h1 {
  font-family: "Rubik", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 32px;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h2,
h3,
p,
a,
text {
  font-family: "Roboto Mono", monospace;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.hover {
  cursor: pointer;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--color-body-bg);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: all 0.5s ease;
}

a:hover {
  color: var(--color-white);
}


.btn {
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-body-bg);
}

.btn:hover {
  color: var(--color-nav-icon-hover);
  background-color: var(--color-secondary);
  border-color: transparent;
}


ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/*=======================
Reusable CSS Classes
========================*/
section {
  height: 100vh;
  padding: 0 0 2rem;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

/*===========================
Layout
=============================*/
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.button_icon {
  margin-left: var(--mb-0-5);
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

p {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*===========================
Media Queries (Medium Screen)
=============================*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/*===========================
Media Queries (Small Screen)
=============================*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    margin-bottom: 3rem;
  }
}
